<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #EFC4D0;
      }
    </style>
  </head>

  <body>
    <div class="conversion">
      <h1>Convert ____</h1>
      <p>Define some routes in app.rb</p>
      <a href="/">Home</a>
    </div>
  </body>
</html>
