<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #EECFD4;
      }
    </style>
  </head>

  <body>
    <div class="home">
      <h1>Currency pairs</h1>
      <%@keys_array.each do |key|%>
        <p>Convert <%=#{key}%> to...</p>
      <%end%>
    </div>
  </body>
</html>
