<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #EECFD4;
      }
    </style>
  </head>

  <body>
    <div class="home">
      <h1>Currency pairs</h1>
      <p><%=@parsed_data%></p>
      <a href="/convert">Convert</a>
      <a href="/results">Results</a>
    </div>
  </body>
</html>
