<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body h1 {
        color: #6251A3;
      }
      .home {
        background-color: #EECFD4;
      }

      .home a {
        color: #B390C2;
      }

      .conversion {
        background-color: #EFC4D0;
      }

      .conversion a {
        color: #957CBD;
      }

      .results {
        background-color: #EFBFCE;
      }

      .results p {
        color: #7667B8;
      }

      .results a {
        color: #6554A6;
      }
    </style>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
