<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #EFBFCE;
      }
    </style>
  </head>

  <body>
    <div class="results">
      <h1>Welcome to your Sinatra App!</h1>
      <p>Define some routes in app.rb</p>
    </div>
  </body>
</html>
