<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #EFB9CB;
      }
    </style>
  </head>

  <body>
    <div class="results">
      <h1>Convert <%=@original_currency%> to <%=@destination_currency%></h1>
      <p><%=@parsed_data%></p>
      <a href="/">Home</a>
    </div>
  </body>
</html>
